.headerSideBar {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    right: 0px;
    width: 300px;
    padding: 20px;
    height: 100vh;
    top: 0px;
    z-index: 5;
    background: white;
    transition: transform 0.5s ease; /* Yumuşak geçiş efekti */
    transform: translateX(0%); /* Başlangıçta gizli */
}

/* Sidebar açıldığında */
.headerSideBar_active {
    transform: translateX(0); /* Sidebar tamamen açıldığında */
}
.headerSideBar_logo{
    font-size: 25px;
    color: gray;
}

.headerSideBar_header_icon:hover{
    cursor: pointer;
    color: red;
}

.headerSideBar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.headerSideBar_title{
    color: #BDC7D3;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.categoryBox_card_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0; 
}
.categoryBox_card_box_select{
    background: #b6c8e8;
    color: blue;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.categoryBox_card_box_icon_select{
    transform: rotate(180deg);
    transition-duration:0.5s ;
}

.categoryBox_card_box{
    cursor: pointer;
}

.categoryBox_card_box_card_icon{
    font-size: 10px;
    margin-right: 5px;
}

.headerSideBar_title_box{
    display: flex;
    gap: 5px;
    cursor: pointer;
}


.categoryBox_card_box_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:0 0 20px 10px;
}

.categoryBox_card_box_card_item{
    cursor: pointer;
}
.categoryBox_card_box_card_item:hover{
    color: blue;
}

.headerSideBar_title_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerSideBar_title_box{
    display: flex;
    gap: 10px;
}

.componentsUpdate {
    width: 50%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    z-index: 10;
  }
  
  .componentsUpdate_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .componentsUpdate_title_icon {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  
  .componentsUpdate_input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  
  .componentsUpdate_btn {
    padding: 10px 20px;
    background: #000;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  
  .componentsUpdate_btn:hover {
    background: #de0606;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  

@media screen and (max-width:768px) {
    .componentsUpdate{
        grid-template-columns: repeat(2,1fr);
    }
    .ComponentsUpdate_btn{
        margin-left: 50%;

    }
}